@charset "UTF-8";

body{
    margin: 0px;
    background-color: #f10909;
}
#dvPainel{
    display: flex;
    height: 50px;
    align-items: center;
}
.itemPainel{
    margin: 5px;
}
#dvJogo{
    width: 960px;
    height: 500px;
    border: 1px solid #cbf800;
    background-color: #042eeb;
}
#dvBola{
    position: absolute;
    top: 240px;
    left: 475px;
    width: 20px;
    height: 20px;
    background-color: #0a0a0a88;
}
.barra{
    position: absolute;
    width: 20px;
    height: 140px;
    background-color: #b705ee;
    top: 180px;
}
.esquerda{
    left: 10px;
}
.direita{
    left: 930px;
}